body,
ul,
li {
    font-family: tahoma;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: gray;
}

header {
    background-color: gray;
    text-align: center;
    position: relative;
    width: 100%;
}

header p {
    text-align: left;
    margin-left: 2%;
    color: whitesmoke;
}

.box {
    background-color: whitesmoke;
    padding: 10px;
    margin: 30px;
  }

.title {
    color: whitesmoke;
    width: 100%;
    background-color: gray;
    display: inline-block;
    padding: 2px 0px;
    position: sticky;
    top: 0px;
}

.fields {
    padding: 10px;
    color: white;
    display: flex; 
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
}

.newItem {
    padding-left: 5%;
    padding-right: 5%;
}

.newItem:after {
    content: "";
    display: table;
    clear: both;
}

.newItemField {
    margin: 0;
    border: 1px solid rgb(35, 32, 24);
    padding: 10px;
    font-size: 16px;
}

.newItemFieldError {
    margin: 0;
    border: 1px solid rgb(218, 1, 1);
    padding: 10px;
    font-size: 16px;
}

.addBtn {
    padding: 9px 10px;
    background-color: black;
    color: white;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s;
    border-radius: 2px;
}

.addBtn:hover {
    background-color: blue;
    color: white;
}

.items {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

.close:hover {
    color: rgb(82, 81, 81);
    font-weight: bolder;
}

table,
th,
td {
    border: 0px solid rgb(198, 183, 183);
    border-collapse: collapse;
    cursor: pointer;
    position: relative;
    padding: 12px 8px 12px 10px;
    font-size: 18px;
    transition: 0.2s;
    text-align: center;
}

table {
    width: 90%;
    border-collapse: collapse;
  }
  
  th {
    background-color: black;
    color: white;
    padding: 10px;
    text-align: left;
  }
  
  td {
    padding: 10px;
    text-align: center;
  }
  
  tr:nth-child(odd) {
    background-color: rgb(255, 255, 255);
    color: rgb(114, 114, 114);
  }
  
  tr:nth-child(even) {
    background-color: rgb(242, 240, 240);
    color: rgb(114, 114, 114);
  }
  
  tr:hover {
    background-color: rgb(116, 116, 116);
    color: rgb(255, 255, 255);
}